* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
}
html,
body {
  height: 100%;
  --spacing: 50px;
  --gap: 20px;
  --black: #000000;
}
body {
  background-color: var(--black);
  display: grid;
  place-items: center;
}
.container {
  width: 1300px;
  max-width: 100%;
  height: 80vh;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
}

.advert {
  background: linear-gradient(
    to bottom,
    rgba(0, 132, 89, 1) 0%,
    rgba(224, 224, 224, 0.65625) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing);
  color: white;
  flex-grow: 1;
}

.advert h1 {
  font-size: 45px;
  font-weight: 500;
}
.heading{
  margin: var(--gap) auto;
}
.login-form {
  background-color: white;
  display: block;
  margin: var(--gap) auto;
  padding: calc(var(--spacing) / 2);
  width: 100%;
}
.form-inputs{
  padding: var(--gap) 0;
}

input {
  padding: calc(var(--gap)/2) 0px;
  border: 1px solid var(--black);
  border-radius: calc(var(--gap)/2);
  background: transparent;
  display: block;
  width: 100%;
  margin: 10px 0;
}
input:focus {
  outline: none;
  border-bottom-color: var(--black);
  border: 2px solid salmon;
  border-style: dashed;
}

button {
  width: 100%;
  display: block;
  margin: var(--gap) 0;
  padding: calc(var(--gap)/2) 0;
  border-radius: calc(var(--gap)/2);
  transition: all 0.5s ease;
}
button:hover {
  box-shadow: 0px 0px var(--gap) rgba(0, 0, 0, 0.25);
}
.btn-create {
  background-color: var(--black);
  color: white;
}
.btn-google {
  background-color: transparent;
  border: 1px solid transparent;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.form-buttons a {
  text-decoration: none;
  color: var(--black);
}
.form-buttons p{
  text-align: center;
}
.form-buttons{
  padding:calc(var(--gap)/2) 0;
}
/* Tablet */
@media screen and (max-width: 1400px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    padding: var(--spacing);
  }
  .container .advert h1 {
    font-size: 32px;
  }
}
/* mobile */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    display: block;
    padding: var(--spacing);
  }
  .container .advert h1 {
    font-size: 32px;
  } 
}
